<h2>Inleiding</h2>
<p class="text-justify">
  Welkom op mijn elektronisch portfolio. Mijn naam is Zoé Charbonnier en ik zit
  in mijn laatste jaar Toegepaste Informatica met als afstudeerrichting Software
  Developement aan de Hogeschool PXL in Hasselt. Naast deze opleiding die ik als
  werkstudent volg, heb ik een vaste job als Test Engineer bij Eurofins Digital
  Testing. De weinige vrije tijd die overblijft wordt voornamelijk gevuld door
  sporten en tijd met vrienden en familie.
</p>

<h2>Verleden tot heden</h2>
<p class="text-justify">
  Ik startte mijn middelbare schoolcarrière aan het Koninklijk Atheneum in
  Sint-Truiden waar ik gedurende 6 jaar Wetenschappen - Moderne Talen heb
  gestudeerd. Ik ben op school weinig tot niet in contact gekomen met
  Informatica en toch ben ik altijd geïntrigeerd geweest door dit vakgebied.
  Toen leerkrachten mij op het einde van het 6de middelbaar vroegen wat ik ging
  verder studeren was mijn antwoord duidelijk: Toegepaste informatica. Ik ben
  van nature heel nieuwsgierig en leergierig en wou mij eindelijk verdiepen in
  iets wat mij aantrok en interesseerde. Jammer genoeg heb ik mij toen door
  leerkrachten en mijn omgeving laten overhalen om dit niet te doen. Het zou
  namelijk niets voor mij zijn, “veel te saai”, “eentonig” en “een echte
  mannenwereld”. Dit was steeds de reactie die ik kreeg als het over verder
  studeren ging. Uiteindelijk heb ik gekozen voor een iets meer
  wetenschappelijke richting en heb ik een Bachelorsdiploma Health Care
  Management behaald. Ook daar kwam mijn interesse voor IT naar boven, mijn
  bachelorproef heb ik geschreven over het onderwerp eHealth waar ik
  verschillende technische hulpmiddelen in de zorg aankaartte. Hiervoor heb ik
  ook een interview afgelegd met de co-founder van FibriCheck (een app die je
  hartritme controleert door je vinger tegen de camera van je smartphone te
  plaatsen). Na deze opleiding heb ik 1 jaar in het Sint-Trudo Ziekenhuis
  gewerkt maar door een gebrek aan uitdaging heb ik toch besloten om mijn
  initieel plan te volgen. In september 2018 ben ik begonnen aan de opleiding
  Switch2IT. Dit is een bacheloropleiding Toegepaste Informatica die de
  combinatie werken en studeren mogelijk maakt. Zo heb ik alsnog mijn ambitie
  kunnen volgen en de switch kunnen maken.
</p>

<h2>Toekomst</h2>
<p class="text-justify">
  Na deze zware periode van werken en studeren kijk ik er naar uit om deze
  opleiding succesvol af te ronden en te starten aan een nieuw avontuur. Ik zou
  graag de testwereld achter mij laten en starten als Software Developer om zo
  mijn technische kennis verder uit te breiden en in contact te komen met
  verschillende technologieën. Het liefst zou ik mij verdiepen in Angular of
  Java maar ik zie wel wat de toekomst brengt.
</p>
