<p class="text-justify">
  Begin oktober heeft lector Arno Barzan toelichting gegeven over het vak
  I-Talent. Het doel van dit vak is om een digitaal portfolio samen te stellen
  waarin verschillende activiteiten die betrekking hebben met de studierichting
  aan bod komen. Reflectie over de activiteiten en het leerproces is key bij het
  documenteren van deze activiteiten. Gezien mijn situatie als werkstudent wist
  ik dat het cruciaal zou zijn om de activiteiten goed in te plannen om niet in
  tijdsnood te komen. Daarom heb ik gekozen om elk trimester één activiteit uit
  te werken om zo de werklast te spreiden. Trimester één was een extreem drukke
  periode waarbij wij voor drie van de vier vakken groepswerken of individuele
  projecten moesten uitwerken. Mijn initieel plan viel al meteen in het water.
  Het was voor mij niet mogelijk om naast mijn huidige job en de groepswerken
  voor school nog een extra project uit te werken. Aangezien ik op mijn werk met
  Salesforce werk leek het mij ideaal om deze technologie aan te kaarten als
  eerste activiteit binnen mijn portfolio. Ik heb Salesforce gebruikt om
  bestaande schadeformulieren een nieuw jasje te geven. TODO: verder uitwerken
  Het tweede trimester wou ik mij voornamelijk gaan verdiepen in technologieën
  waarvan ik wist dat ik ze ging gebruiken tijdens mijn stage. Op deze manier
  kon ik mij extra voorbereiden. Daarom heb ik ervoor gekozen om een project
  rond … te maken. TODO: verder uitwerken Tot slot heb ik tijdens het laatste
  trimester een seminarie gevolgd over Flutter. Hierna heb ik besloten om zelf
  aan de slag te gaan met Flutter en heb ik een mobile app gemaakt.
</p>
