<div class="mx-20 mb-20">
  <p class="text-justify text-2xl">
    Begin oktober heeft lector Arno Barzan toelichting gegeven over het vak
    I-Talent. Het doel van dit vak is om een digitaal portfolio samen te stellen
    waarin verschillende activiteiten die betrekking hebben met de
    studierichting aan bod komen. Reflectie over de activiteiten en het
    leerproces is key bij het documenteren van deze activiteiten. Gezien mijn
    situatie als werkstudent wist ik dat het cruciaal zou zijn om de
    activiteiten goed in te plannen om niet in tijdsnood te komen. Daarom heb ik
    gekozen om elk trimester één activiteit uit te werken om zo de werklast te
    spreiden. Trimester één was een extreem drukke periode waarbij wij voor drie
    van de vier vakken groepswerken of individuele projecten moesten uitwerken.
    Mijn initieel plan viel al meteen in het water. Het was voor mij niet
    mogelijk om naast mijn huidige job en de groepswerken voor school nog een
    extra project uit te werken. Aangezien ik op mijn werk met Salesforce werk
    leek het mij ideaal om deze technologie aan te kaarten als eerste activiteit
    binnen mijn portfolio. Ik heb Salesforce gebruikt om bestaande
    schadeformulieren een nieuw jasje te geven. Het tweede trimester wou ik mij
    voornamelijk gaan verdiepen in technologieën waarvan ik wist dat ik ze ging
    gebruiken tijdens mijn stage. Op deze manier kon ik mij extra voorbereiden.
    Daarom heb ik gekozen om een eigen website te ontwikkelen in Angular en
    daarbij gebruik te maken van Angular Material en Tailwindcss. Door de drukte
    in semester twee heb ik de beslissing genomen om dit vak in de
    zomdervakantie op te nemen om zo wat ademruimte te winnen. Als laatste
    technologie heb ik gekozen voor Flutter. Tijdens mijn stage heb ik hier een
    seminarie over meegevolgd en dit heeft mij geinspireerd om mij te verdiepen
    in deze open-source Google UI toolkit.
  </p>
</div>
<div class="h-px"></div>
