<h2>Ontdekken</h2>
<p class="text-justify">
  Na het vak mobile development wou ik mij graag verdiepen in de wereld van de
  mobiele applicatie ontwikkeling. aariXa organiseerde op 25 maart een seminarie
  in het kader van Flutter. De course was ingedeeld in 2 delen: enerzijds was er
  het theoretische deel waar de structuur en architectuur van Flutter-projecten
  werd aangehaald. Anderzijds het praktijkgedeelte waar ingegaan werd op de
  verschillende manieren van Dart classes schrijven. TO DO: verder uitwerken
  aariXa academy
</p>

<h2>Experimenteren</h2>
<p class="text-justify">
  Na het seminarie ben ik zelf aan de slag gegaan en ben ik de documentatie van
  Flutter beginnen inlezen. Eens ik de installatiegids had doorlopen waarbij ik
  de Flutter SDK heb gedownload en Android Studio heb opgezet, was ik helemaal
  klaar om mijn eerste project in Flutter te maken. Om te beginnen leek het mij
  interessant om een
  <a
    href="https://codelabs.developers.google.com/codelabs/first-flutter-app-pt1#0"
    target="_blank"
    class="underline hover:underline"
  >
    codelab
  </a>
  te volgen om zo kennis te maken deze UI-softwareontwikkelkit. Het resultaat
  van het codelab was een mobiele applicatie die een lijst voorgestelde namen
  genereert voor een startup bedrijf, waarbij de gebruiker zijn favoriete namen
  kan selecteren en bewaren. Flutter apps worden geschreven in Dart code, daarom
  heb ik ten alle tijden deze Dart handleiding
  https://dart.dev/guides/language/language-tour opengehouden zodat ik gaande
  weg de syntax onder de knie kon krijgen. Deze tutorial heeft mij inzichten
  gegeven in de basisstructuur van een Flutter app. Concepten als hot reload
  voor een snellere ontwikkelingscyclus en lazy loading bij het laden van
  lijsten zijn aan bod gekomen. Verder heb ik een statefull widget
  geïmplementeerd waarbij ik interactiviteit met de gebruiker heb toegevoegd. Ik
  heb eveneens geleerd om routes toe te voegen die navigatie tussen pagina’s
  mogelijk maakt. Tot slot heb ik gebruik gemaakt van een third-party library om
  functionaliteit uit te breiden en heb ik thema’s ontdekt om de pagina te
  customizen. Het resultaat ziet er als volgt uit: Insert video
</p>

<h2>Uitvoeren</h2>
<p class="text-justify">
  Na mijn pas opgedane kennis was het tijd om een groter project te starten. De
  YouTube-video die ik als basis gebruikt is er Reflectie Mijn eerste ervaring
  met Flutter was zeker positief. Van het moment dat alles geïnstalleerd en
  geconfigureerd is, kan je snel en gemakkelijk een eenvoudige applicatie
  creëren. Ik heb weinig tot geen moeite gehad om alles werkende te krijgen
  zonder tegen fouten te lopen met betrekking tot configuratie. De documentatie
  van Flutter is duidelijk en gestructureerd waardoor je niet ver moet zoeken om
  uitleg of codevoorbeelden te vinden. Flutter wint de laatste jaren aan
  populariteit waardoor veel YouTube-video’s en codelabs makkelijk te vinden
  zijn voor extra hulp. Een heel groot voordeel van Flutter vind ik de hot
  reload feature die ervoor zorgt dat wijzigingen in de code meteen zichtbaar
  zijn in de app waardoor je als ontwikkelaar korter op de bal kan spelen en
  meteen kan bijsturen waar nodig. Ik herinner mij het project nog van mobile
  development en .NET expert waar er ook gewerkt werd met een android virtual
  device (AVD) waar de applicatie bij elke wijziging herstart moest worden. Zeer
  onpraktisch en tijdrovend. Het experimenteren met Flutter was heel leuk en
  leerrijk en ik wil mij in de toekomst zeker verder verdiepen in deze
  technologie.
</p>

<h2>Reflecteren</h2>
<p class="text-justify">
  Mijn eerste ervaring met Flutter was zeker positief. Van het moment dat alles
  geïnstalleerd en geconfigureerd is, kan je snel en gemakkelijk een eenvoudige
  applicatie creëren. Ik heb weinig tot geen moeite gehad om alles werkende te
  krijgen zonder tegen fouten te lopen met betrekking tot configuratie. De
  documentatie van Flutter is duidelijk en gestructureerd waardoor je niet ver
  moet zoeken om uitleg of codevoorbeelden te vinden. Flutter wint de laatste
  jaren aan populariteit waardoor veel YouTube-video’s en codelabs makkelijk te
  vinden zijn voor extra hulp. Een heel groot voordeel van Flutter vind ik de
  hot reload feature die ervoor zorgt dat wijzigingen in de code meteen
  zichtbaar zijn in de app waardoor je als ontwikkelaar korter op de bal kan
  spelen en meteen kan bijsturen waar nodig. Ik herinner mij het project nog van
  mobile development en .NET expert waar er ook gewerkt werd met een android
  virtual device (AVD) waar de applicatie bij elke wijziging herstart moest
  worden. Zeer onpraktisch en tijdrovend. Het experimenteren met Flutter was
  heel leuk en leerrijk en ik wil mij in de toekomst zeker verder verdiepen in
  deze technologie.
</p>
