<div class="mb-20 mx-72">
  <p class="text-justify text-xl pb-10">
    Binnen de opleiding werd regelmatig verwezen naar de X-factor. Een soort
    kompas dat ons, als studenten, gids om excellente professionals te worden.
    De X-factor omhelst vier statements. Omdat de eindmeet in zicht is leek het
    mij een leuke oefening om te reflecteren over deze vier statements en na te
    gaan of ik na drie jaar opleiding beantwoord aan de X-factor.
  </p>

  <p class="text-justify text-xl pb-10">
    Het statement <span class="font-semibold">empassie</span> staan passie en
    empathie centraal. Passie lijkt mij in de context van een Switch2IT
    opleiding vanzelfsprekend. Ik heb drie jaar geleden uit passie beslist om
    mijn toenmalige stabiele job op te geven om mijn ambitie te volgen. Het
    waren loodzware jaren waarbij er amper tijd was voor vrienden, familie of
    vrije tijd. Als ik terugblik op mijn afgelegd parcours besef ik dat passie
    de drijfveer was om dit vol te houden, zonder passie had ik al lang de
    handdoek in de ring gegooid. Ik ben gestart aan deze opleiding met veel
    overgave, inzet en verantwoordelijkheidsgevoel en dat heeft mij mede
    geholpen om de finish te halen. Daarnaast is er het empathische aspect.
    Binnen de opleiding zijn er talrijke groepsopdrachten waardoor je nauw moet
    samenwerken met verschillende soorten medestudenten. Een groot
    inlevingsvermogen is nodig om elkaar beter te leren kennen, respecteren en
    helpen.
  </p>

  <p class="text-justify text-xl pb-10">
    Een volgende statement is dat van
    <span class="font-semibold">ondernemend en innovatief</span> zijn. Ik heb
    het gevoel dat ik deze eigenschappen al voor de opleiding bezat. Een
    voorbeeld hiervan is de beslissing om deze opleiding te volgen. Het was een
    doordachte beslissing met een berekend risico. De opleiding heeft mij
    geleerd om projectmatig en systematisch te werk te gaan en stimuleert een
    ‘hands-on-mentaliteit’ waarbij buiten de lijnen kleuren zeker kan en mag.
  </p>

  <div class="flex justify-center">
    <img src="assets/x-factor.png" alt="x-factor" class="h-96 w-auto pb-10" />
  </div>

  <p class="text-justify text-xl pb-10">
    Het derde statement draait om
    <span class="font-semibold">samenwerking</span> om grenzen te verleggen en
    doorbeken. Teamwork kwam doorheen de opleiding sterk aanbod in de vorm van
    verschillende soorten projecten. Samenwerken is cruciaal en zorgt ervoor dat
    we elkaar scherp houden, elkaar motiveren en inspireren en het beste in
    elkaar naar boven brengen. Er is geen beter gevoel dan deel uit te maken van
    een succesvol team en zo samen mooie resultaten neer te zetten. “The
    strength of the team is each individual member. The strength of each member
    is the team.”
  </p>

  <p class="text-justify text-xl pb-10">
    Tot slot het
    <span class="font-semibold">disciplinair en multidisciplinair</span> aspect.
    De Switch2IT opleiding is een zeer uitgebreide en gevarieerde opleiding
    waarbij enorm veel technologieën, concepten methodologieën met betrekking
    tot de IT-wereld behandeld worden. Je wordt helemaal klaargestoomd om als
    volwaardig lid met de nodige kennis te starten aan je droomjob.
  </p>

  <p class="text-justify text-xl">
    Ik kan met overtuiging zeggen dat ik het gevoel te beantwoorden aan de
    X-factor. Enerzijds door de kennis en waardes die ik meegekregen heb tijdens
    deze opleiding. Anderzijds door eigenschappen die ik reeds door andere
    ervaringen heb opgedaan.
  </p>
</div>
