<div class="mb-20 mx-72">
  <div class="text-5xl text-center mb-4">Situatie</div>
  <div class="border-b-2 mb-12"></div>
  <p class="text-justify text-xl pb-10">
    Als laatstejaarsstudent Switch2IT was het vak I-Talent, onder begeleiding
    van lector Arno Barzan, één van de laatste opdrachten die leidde naar de
    eindmeet. Zoals ondertussen wel duidelijk is, was het doel van dit vak om
    een digitaal portfolio samen te stellen waarin verschillende activiteiten
    met betrekking tot de IT-wereld en onze studierichting uitgewerkt werden.
    Een uitvoerige reflectie per activiteit samen en deze eindreflectie vormen
    samen een belangrijk onderdeel van dit I-Talent project. In deze paragraaf
    ga ik terugblikken op het geheel, de kennis en lessen die ik uit dit proces
    heb gehaald. Het vak I-Talent heeft mij aangespoord om buiten mijn vakkennis
    te treden om zo nieuwe IT-gerelateerde technologieën te ontdekken en
    gebruiken. Dit vak was een perfect voorbeeld voor wat je als IT’er te
    wachten staat namelijk, levenslang leren en zelfstudie. Het is belangrijk om
    mee te zijn met de laatste nieuwtjes en de evolutie van technologieën op te
    volgen. Dit opleidingsonderdeel was een positieve ervaring en heeft mij
    verschillende hard en soft skills bijgeleerd.
  </p>

  <div class="text-5xl text-center mb-4">Taak</div>
  <div class="border-b-2 mb-12"></div>
  <p class="text-justify text-xl pb-10">
    Mijn doel voor dit vak was om mijn kennis uit te breiden en technologieën te
    bestuderen die steeds meer en meer gebruikt worden om zo in de nabije
    toekomst gemakkelijker een plaats te vinden op de arbeidsmarkt. De keuze
    voor SalesForce kwam er al snel omdat ik hier dagelijks mee in contact kwam
    op mijn job als tester maar nooit de tijd heb genomen om de technologie
    grondig te onderzoeken en begrijpen. Als tweede activiteit heb ik een
    seminarie bijgewoond over Flutter. Dit heeft mijn interesse voor deze
    UI-softwareontwikkelkit aangewakkerd en heeft mij veel bijgeleerd rond de
    ontwikkeling van mobiele applicaties. Tot slot merkte ik tijdens mijn stage
    dat mijn Angular-kennis bijgeschaafd kon worden en dat hier veel vraag naar
    is. Daarom heb ik een eigen website van nul opgebouwd zonder gebruik te
    maken van WordPress of ander content management systeem.
  </p>

  <div class="text-5xl text-center mb-4">Activiteiten</div>
  <div class="border-b-2 mb-12"></div>
  <p class="text-justify text-xl pb-10">
    Ik ben steeds op dezelfde manier te werk gegaan voor het onderzoeken,
    uitwerken en documenteren van iedere activiteit. De eerste stap in de proces
    was het inlezen en zoeken naar goede documentatie, bronnen en voorbeelden
    voor de desbetreffende technologie. Eens ik een algemeen beeld en basis had
    over de technologie was de volgende stap om de net opgedane theoretische
    kennis om te zetten in de praktijk. Voor ik aan de slag kon gaan moest ik
    zorgen dat mijn pc over de nodige software beschikte, hiervoor heb ik
    verschillende installatiegidsen gevolgd om alles up and running te krijgen.
    Vervolgens volgende ik codelabs, YouTube-video’s en tutorials om mijn eerste
    stappen te zetten met deze nieuwe technologieën. Daarna heb ik zelf meer
    geavanceerde projecten proberen uitwerken met de nodige begeleiding via
    bovengenoemde manieren.
  </p>

  <div class="text-5xl text-center mb-4">Resultaat en reflectie</div>
  <div class="border-b-2 mb-12"></div>
  <p class="text-justify text-xl">
    Over het algemeen ben ik tevreden over het geleverde resultaat ookal vond ik
    het een hele uitdaging om dit project tot een goed einde te brengen met alle
    andere vakken en persoonlijke verplichtingen. Het is niet gemakkelijk om je
    te verdiepen in nieuwe technologieën en dit vergt meestal veel tijd. En tijd
    is nu net iets wat je als werkstudent sowieso al te kort hebt. Ik vond
    I-Talent een leerrijke opleidingsonderdeel en ga de kennis en ervaringen die
    ik heb opgedaan zeker meenemen naar toekomstige projecten.
  </p>
</div>
