@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  //font-family: "Lato", sans-serif;
}

.white-icon {
  color: white;
}

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zoom:hover {
  transform: scale(2.5);
  left: 50%;
  position: absolute;
}
