<div class="grid grid-cols-3 gap-5">
  <div (click)="navigateTo('flutter')">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Flutter</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../../assets/Flutter.png" alt="flutter" />
      </mat-card-content>
    </mat-card>
  </div>
  <div (click)="navigateTo('salesforce')">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Salesforce</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../../assets/Salesforce.png" alt="salesforce" />
      </mat-card-content>
    </mat-card>
  </div>
  <div (click)="navigateTo('website')">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Own website</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../../assets/Angular.png" alt="angular" />
      </mat-card-content>
    </mat-card>
  </div>
</div>
