<div class="flex flex-row gap-20 justify-center mb-20">
  <div (click)="navigateTo('flutter')">
    <mat-card class="w-96 h-96">
      <!-- <img
        class="w-50 h-auto"
        mat-card-image
        src="../../../assets/Flutter.png"
        alt="flutter"
      /> -->
      <!-- <mat-card-content>
 
      </mat-card-content> -->
      <div class="flex justify-self-center">
        <img
          class="w-60 h-60"
          src="../../../assets/Flutter.png"
          alt="flutter"
        />
      </div>
      <mat-card-header>
        <mat-card-title><div class="text-2xl">Flutter</div></mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>
  <div (click)="navigateTo('salesforce')">
    <mat-card>
      <mat-card-header>
        <mat-card-title><div class="text-2xl">Salesforce</div></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img
          class="h-60 w-60"
          src="../../../assets/Salesforce.png"
          alt="salesforce"
        />
      </mat-card-content>
    </mat-card>
  </div>
  <div (click)="navigateTo('website')">
    <mat-card>
      <mat-card-header>
        <mat-card-title><div class="text-2xl">Own website</div></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img
          class="h-60 w-60"
          src="../../../assets/Angular.png"
          alt="angular"
        />
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="h-px"></div>
