<div class="flex flex-row gap-20 justify-center mb-20">
  <div (click)="navigateTo('flutter')">
    <mat-card class="w-96 h-96">
      <div class="flex justify-center mb-8">
        <img
          class="w-60 h-60"
          src="../../../assets/Flutter.png"
          alt="flutter"
        />
      </div>
      <mat-card-header>
        <mat-card-title>Flutter</mat-card-title>
        <mat-card-subtitle class="w-80 h-16 overflow-ellipsis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div (click)="navigateTo('salesforce')">
    <mat-card class="w-96 h-96">
      <div class="flex justify-center mb-8">
        <img
          class="h-60 w-65"
          src="../../../assets/Salesforce.png"
          alt="salesforce"
        />
      </div>
      <mat-card-header>
        <mat-card-title><div class="text-2xl">Salesforce</div></mat-card-title>
        <mat-card-subtitle class="w-80 h-16 overflow-ellipsis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div (click)="navigateTo('website')">
    <mat-card class="w-96 h-96">
      <div class="flex justify-center mb-8">
        <img
          class="h-60 w-60"
          src="../../../assets/Angular.png"
          alt="angular"
        />
      </div>
      <mat-card-header>
        <mat-card-title><div class="text-2xl">Own website</div></mat-card-title>
        <mat-card-subtitle class="w-80 h-16 overflow-ellipsis">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<div class="h-px"></div>
