<div class="flex justify-center">
  <div class="w-6/12">
    <mat-toolbar class="">
      <div class="flex flex-grow flex-row items-center justify-between">
        <div routerLink="/" class="">
          <div>Zoé Charbonnier</div>
          <div>Full Stack Developer</div>
        </div>
        <div class="flex gap-5">
          <div routerLink="/about">Me</div>
          <div routerLink="/experience">Experience</div>
          <div routerLink="/projects">Projects</div>

          <div>
            <button mat-button [matMenuTriggerFor]="italent">
              <div>ITalent</div>
            </button>
            <mat-menu #italent="matMenu">
              <button mat-menu-item routerLink="/italent/plan">Plan</button>
              <button mat-menu-item routerLink="/italent/projects">
                Projects
              </button>
              <button mat-menu-item routerLink="/italent/x-factor">
                X-Factor
              </button>
              <button mat-menu-item routerLink="/italent/reflection">
                Reflection
              </button>
            </mat-menu>
          </div>
          <div routerLink="/contact">Contact</div>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</div>
